<h1> Index </h1>

<ol>
  <li><a href="/branches">Library Branches</a></li>
  <li><a href="/staff_members">Staff Members</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/patrons">Patrons</a></li>
</ol>
