<h1>New Staff Member</h1>

<% if @staff_member.errors.any? %>
  <p><% @staff_member.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<% if Branch.any? %>
  <form action="/staff_member/new" method="post">
    Name:<input type="text", name="name", value="<%= @staff_member.name %>"></br>
    Email:<input type="text", name="email", value="<%= @staff_member.name %>"></br>
    Branch:<select name="branch_id">
      <% Branch.all.each do |branch| %>
        <option value=branch.id><%=branch.name%></option>
      <% end %>
    <input type="submit" value="Enter New Staff Member">
  </form>
<% else %>
  <p><em>Before you can create new staff members,
  you need to create a branch to which to assign them.</em></br>
  <a href="/branch/new">Create new Branch</a></p>
<% end %>
