<p><a href="/"><< Back to Library Menu</a></p>
<h1>Branches Index</h1>

<% if @branches.any? %>
  <ol>
    <% @branches.each do |branch| %>
      <li><a href="/branches/<%= branch.id %>"><%= branch.name %></a><em><%= " (understaffed)" if branch.staff_members.size < 1 %></em></li>
    <% end %>
  </ol>
<% else %>
  <p><em>(No branches currently registered)</em></p>
<% end %>

<p><a href="/branches/new">New Branch</a></p>
